.ComplexItemMenu {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 24px 0;
  column-gap: 20px;
  h2 {
    font-weight: 600;
  }
}
.ComplexItemMenu::after {
  content: "";
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  border: 6px solid transparent;
  border-top: 8px solid #8a8a8a;
  width: 0;
  height: 0;
}
