@import "./../../global/index.scss";
.SimpleItemMenu {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  margin: 24px 0;

  &.active {
    border-right: 3px solid $bg-theme;
  }
  h2 {
    font-size: $font-size-default;
    font-weight: 600;
  }
}
