@import "./../../global/index.scss";
.Header {
  background-color: $bg-theme;
  position: sticky;
  z-index: 100;
  top: 0;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Header > div:first-child {
  display: none;
}
@media (max-width: 768px) {
  .Header > div:first-child {
    display: block;
  }
}
