.Sidebar {
  min-width: 300px;
  padding-left: 32px;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
  & > h2 {
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 36px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
.Menu {
  display: flex;
  flex-direction: column;
}
