.Layout {
  display: grid;
  grid-template-areas:
    "header header header header"
    "sidebar main main main";
  min-height: 100vh;
  grid-template-rows: 80px auto;
  grid-template-columns: 300px auto;
}
@media (max-width: 768px) {
  .Layout {
    position: relative;
    grid-template-columns: 0px auto;
  }
  .Layout > div:nth-child(2) {
    position: absolute;
    height: 100%;
    left: -300px;
  }
  .Layout.activeMenu > div:nth-child(2) {
    left: 0px;
  }
}
.Layout > div:nth-child(1) {
  grid-area: header;
}
.Layout > div:nth-child(2) {
  transition: 0.3s;
  grid-area: sidebar;
}
.Layout > div:nth-child(3) {
  grid-area: main;
}
